<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            c#
        </div>
        <div class="progress">
            <span class="yellow" style="width: 90%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            asp.net
        </div>
        <div class="progress">
            <span class="green" style="width: 85%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
           HTML/CSS/JS
        </div>
        <div class="progress">
            <span class="blue" style="width: 60%;"></span>
        </div>
    </div>
    
 
</section>
